@page "/Line/create/{orderID:int}"
@using TakraonlineCRM.Client.Pages.Marketing.Component

<h3>เพิ่มแคมเปญ Line Ads Platform </h3>
<FormLine ButtonText="สร้าง" line="@line" OnValidSubmit="CreateLineAds" />
