@page "/Line/Edit/{orderId:int}"
@using TakraonlineCRM.Client.Pages.Marketing.Component

<h3>แก้ไขแคมเปญ Line And Platform</h3>
<FormLine ButtonText="แก้ไข" line="@line" OnValidSubmit="@EditLineAds" />
