@page "/Graphic/create/{orderId:int}"
@using TakraonlineCRM.Client.Pages.Graphic.Components

<h3>เพิ่มรายการออกแบบ</h3>
<FormGraphic ButtonText="สร้าง" graphic="graphic" OnValidSubmit="CreateGraphic" />