<h2>รายละเอียด ออเดอร์ : คอร์สอบรม</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-8 list-group">
            <div class="list-group-item">
                <ul class="text-left m-1">
                    <li class="m-1"><span> ชื่อคอร์สเรียน : @orderCourse.CourseName </span></li>
                    <li class="m-1"><span> วันเวลาที่เรียน : @orderCourse.BookingDate </span></li>
                </ul>
            </div>
        </div>
    </div>
</div>