<div class="form-group row ml-2">
    -
    <div class="form-check form-check-inline ml-1 col-2">
        <InputCheckbox @bind-Value="orderWebSite.Website" class="form-check-input" />
        <label class="form-check-label">
            เปิดใช้งานเว็บไซต์
        </label>
    </div>
    <div class="form-check form-check-inline ml-1 col-2">
        <InputCheckbox @bind-Value="orderWebSite.Upgrade" class="form-check-input" />
        <label class="form-check-label">
            อัพเกรดเว็บไซต์
        </label>
    </div>
    <div class="form-check form-check-inline ml-1 col-2">
        <InputCheckbox @bind-Value="orderWebSite.Plugins" class="form-check-input" />
        <label class="form-check-label">
            ติดตั้งการตลาด
        </label>
    </div>
</div>
<div class="form-group row ml-2">
    -
    <div class="form-check form-check-inline ml-1 col-2">
        <InputCheckbox @bind-Value="orderWebSite.Domain" class="form-check-input" />
        <label class="form-check-label">
            จดโดเมน
        </label>
    </div>
    <div class="form-check form-check-inline ml-1 col-2">
        <InputCheckbox @bind-Value="orderWebSite.SSL" class="form-check-input" />
        <label class="form-check-label">
            ติดตั้ง SSL
        </label>
    </div>
</div>
<div class="form-group row ml-2">
    -
    <div class="form-check form-check-inline ml-1 col-2">
        <InputCheckbox @bind-Value="orderWebSite.NewDesign" class="form-check-input" />
        <label class="form-check-label">
            ออกแบบใหม่
        </label>
    </div>
    <div class="form-check form-check-inline ml-1 col-2">
        <InputCheckbox @bind-Value="orderWebSite.ProgramEdit" class="form-check-input" />
        <label class="form-check-label">
            แก้ไขโปรแกรม
        </label>
    </div>
</div>