@page "/index"
@layout AuthLayout

<div class="container h-100">
    <div class="row h-100">
        <div class="col-5 m-auto">
            <div class="container text-center">
                <h2>TakraOnline CRM</h2>
                <h6>Customer Relationship Management</h6>
            </div>
            <br />
            <NavLink href="Login">
                <h3 class="btn btn-primary btn-block float-left mr-1">
                    ลงชื่อเข้าสู่ระบบ
                </h3>
            </NavLink>
            @*<NavLink href="Register">
                    <h3 class="btn btn-secondary btn-block float-right">
                        สมัครสมาชิก
                    </h3>
                </NavLink>*@
        </div>
    </div>
</div>

