@page "/Facebook/Edit/{orderId:int}"
@using TakraonlineCRM.Client.Pages.Marketing.Component;

<h3>แก้ไขแคมเปญ Facebook Ads</h3>
<FormFacebook ButtonText="แก้ไข" facebook="@facebook" OnValidSubmit="@EditFacebookAds" />
