@page "/Google/create/{orderID:int}"
@using TakraonlineCRM.Client.Pages.Marketing.Component;

<h3>เพิ่มแคมเปญ Google Shop</h3>
<FormGoogle ButtonText="สร้าง" google="@google" OnValidSubmit="@CreateGoogle" />