@page "/Google/edit/{orderId:int}"
@using TakraonlineCRM.Client.Pages.Marketing.Component

<h3>แก้ไขแคมเปญ Google Shop</h3>
<FormGoogle ButtonText="แก้ไข" google="@google" OnValidSubmit="@EditGoogleShop" />
